mixin customInput(customType, customClass, customPlaceholder, customId, customValue, customReadonly)
    input(type=customType class=customClass placeholder=customPlaceholder id=customId value=customValue readonly = customReadonly)
