-
    const isLiked = filmData.is_vote === 1;
    const isDisliked = filmData.is_vote === -1;
    const isMovie = filmData.type === 'Фильм';

div.detail_preview(id= filmData.id)
    div.detail_preview-left
        div.detail-preview__image
            img(class="js-preview-image" src= filmData.movieAvatar alt= '')
        div.detail_description__buttons
            div(class='button__item js-play-detail')
                img(src= '../../assets/playDetail.png' alt= '')
            div(class='button__item js-add-favourite-detail' hidden=filmData.is_fav)
                img(class='item__favourite-icon' src= '../../assets/star.png' alt= '' id='add_to_fav')
            div(class='button__item js-remove-favourite-detail' hidden=!filmData.is_fav)
                img(class='item__favourite-icon' src= '../../assets/favourite.png' alt= '' id='remove_from_fav')
            div(class='button__item js-like-detail' hidden=isLiked)
                img(src= '../../assets/like.png' alt= '' id= 'like')
            div(class='button__item js-pressed-like-detail' hidden=!isLiked)
                img(src= '../../assets/pressed_like.png' alt= '')
            div(class='button__item js-dislike-detail' hidden=isDisliked)
                img(src= '../../assets/dislike.png' alt= '' id= 'dislike')
            div(class='button__item js-pressed-dislike-detail' hidden=!isDisliked)
                img(src= '../../assets/pressed_dislike.png' alt= '')
    div.detail_preview-right
        div.detail_preview__title=filmData.title
        div.detail_preview__tags
            span.item__type=filmData.type
            span.item__marks=filmData.rating


        div(class= 'detail_description__year description__items')
            span.country__title Год:
            span.country__text=filmData.year
        div(class= 'detail_description__genre description__items')
            span.country__title Жанр:
            span.country__text=filmData.genres
        div(class= 'detail_description__director description__items')
            span.country__title Режиссёр:
            span.country__text=filmData.director
        div(class= 'detail_description__country description__items')
            span.country__title Страны:
            span.country__text=filmData.countries

        div(class= 'detail_description__actors description__items')
            span.country__title В главных ролях:
            div.items__actors
                each actor in filmData.actors
                    a.country__text.actors__href(href='/actors/'+actor.id)=actor.name


if !isMovie
    - for (let i = 1; i <= filmData.seriesList.length; ++i) {
        div.detail_description
            div.detail_description-left
                div.detail_description__text
                    div= 'Сезон ' + i
                    div.detail_description__series
                        - for (let j = 0; j < filmData.seriesList[i-1]; ++j) {
                            if j == 0 && i == 1
                                div.series__info.series__chosen(data-season=i-1, data-series=j)= 'Серия ' + (j+1)
                            else
                                div.series__info(data-season=i-1, data-series=j)= 'Серия ' + (j+1)
                            - }
            div.detail_description-right
    - }


div.detail_description
    div.detail_description-left
        div.detail_description__text
            span=filmData.description
    div.detail_description-right

div.video-player__container
    include ../../components/VideoPlayer/VideoPlayer
